# Pandas Data Structures

---

## Data-oriented Programming Paradigms 2021W

---
<img src="http://ifs.tuwien.ac.at/~piroi/logos/logo-tuwien-informatics.png" width="300">

Let's get started by importing the usual packages we will be using..

In [1]:
import numpy as np
import pandas as pd

We will often refer to Series and DataFrame, so import them as well..

In [2]:
from pandas import Series
from pandas import DataFrame

## Series

One-dimensional array-like object containing:
 1. a sequence of values (types similar to NumPy types)
 1. an associated array of data labels, called its index.

### Creating Serieses

In [3]:
cities = ['Berlin', 'Vienna', 'Bern']
Series(cities)

0    Berlin
1    Vienna
2      Bern
dtype: object

In [4]:
numbers = [1, 2, 3]
Series(numbers)

0    1
1    2
2    3
dtype: int64

**Note** Since we did not specify any index, we get a default one consisting of the integers 0 through n-1

Often it will be desirable to create a Series with an index identifying each data point with a label:

In [5]:
capitals = Series(cities, index=['Germany', 'Austria', 'Switzerland'])
capitals

Germany        Berlin
Austria        Vienna
Switzerland      Bern
dtype: object

In [7]:
# This time, we create the Series from a Python dict
popData = {'Germany': 82.67, 'Austria': 8.747, 'Switzerland': 8.372}
population = Series(popData)
population

Germany        82.670
Austria         8.747
Switzerland     8.372
dtype: float64

**Note** Index has the dict's keys in sorted order

#### Missing values

In [8]:
countries = ['Germany', 'Austria', 'Switzerland', 'France']
population = Series(popData, index = countries)
population

Germany        82.670
Austria         8.747
Switzerland     8.372
France            NaN
dtype: float64

In [9]:
capitals['France'] = None
capitals

Germany        Berlin
Austria        Vienna
Switzerland      Bern
France           None
dtype: object

**Note** the NaN, since we don't have data for France. Pandas generally copes well with missing data and provides good mechanisms to handle it, as we will see.. For strings, we can use the *None* keyword to express NULL..

In [10]:
population.isnull()

Germany        False
Austria        False
Switzerland    False
France          True
dtype: bool

In [11]:
capitals.isnull()

Germany        False
Austria        False
Switzerland    False
France          True
dtype: bool

In [12]:
pd.notnull(population)

Germany         True
Austria         True
Switzerland     True
France         False
dtype: bool

### Working with Serieses

Other than with NumPy arrays, you can use labels in the index when selecting single values or a set of values:

In [13]:
capitals['Austria']

'Vienna'

In [14]:
capitals[['Austria', 'Switzerland']]

Austria        Vienna
Switzerland      Bern
dtype: object

**Note** that we use double brackets to pass a list of indices

In [15]:
capitals['France'] = 'Paris'
capitals

Germany        Berlin
Austria        Vienna
Switzerland      Bern
France          Paris
dtype: object

#### Arithmetics and functions

<small>Using NumPy functions or NumPy-like operations, such as filtering with a boolean array, scalar multiplication, or applying math functions, will preserve the index-value link:</small>

In [16]:
population[population > 8.5]

Germany    82.670
Austria     8.747
dtype: float64

In [17]:
import math
population * math.pow(1.01, 10)

Germany        91.319111
Austria         9.662130
Switzerland     9.247896
France               NaN
dtype: float64

In [18]:
np.round(population, 2)

Germany        82.67
Austria         8.75
Switzerland     8.37
France           NaN
dtype: float64

Another way to think about a Series is as a fixed-length, ordered dict, as it is a mapping of index values to data values. It can be used in many contexts where you might use a dict:

In [19]:
'Austria' in capitals

True

In [20]:
'France' in capitals

True

## DataFrame

* represents a rectangular table of data
* contains an ordered collection of columns
* each column can have a different value type (numeric, string, boolean, etc.). 
* both a row and column index
* can be thought of as a dict of Serieses all sharing the same index

### Creating DataFrames

We can start from our Series

In [21]:
countryInfo = pd.concat([capitals, population], axis=1)
countryInfo

                  0       1
Germany      Berlin  82.670
Austria      Vienna   8.747
Switzerland    Bern   8.372
France        Paris     NaN

In [22]:
countryInfo.columns = ['capital', 'population']
countryInfo

            capital  population
Germany      Berlin      82.670
Austria      Vienna       8.747
Switzerland    Bern       8.372
France        Paris         NaN

More generally, we will often create DataFrames from a dict of equal-length lists of NumPy arrays:

Though the second NumPy array is not correctly ordered, I leave it like this to demonstrate how Pandas work (even with conceptual errors in the creation of the DataFrames)

In [58]:
popData = {'country': ['Austria', 'Austria', 'Austria', 'Germany',  'Germany',  'Germany', 'Switzerland',  'Switzerland', 'Switzerland'],
        'year': [2014, 2014, 2014, 2015, 2015, 2015, 2016, 2016, 2016],
        'population': [8.747, 8.633, 8.542, 82.67, 81.69, 80.98, 8.372, 8.284, 8.189]}
countryInfo2 = pd.DataFrame(popData)
countryInfo2

       country  year  population
0      Austria  2014       8.747
1      Austria  2014       8.633
2      Austria  2014       8.542
3      Germany  2015      82.670
4      Germany  2015      81.690
5      Germany  2015      80.980
6  Switzerland  2016       8.372
7  Switzerland  2016       8.284
8  Switzerland  2016       8.189

In [59]:
# For large data sets, it's useful to just get the first rows
countryInfo2.head(3)

   country  year  population
0  Austria  2014       8.747
1  Austria  2014       8.633
2  Austria  2014       8.542

In [60]:
# We can specify the columns order when creating the data frame
countryInfo2 = pd.DataFrame(popData, columns=['year', 'country', 'population'])
countryInfo2.head()

   year  country  population
0  2014  Austria       8.747
1  2014  Austria       8.633
2  2014  Austria       8.542
3  2015  Germany      82.670
4  2015  Germany      81.690

In [61]:
# If we pass a column that isn't contained in the dict, it will appear with missing values
countryInfo2 = pd.DataFrame(popData, columns=['year', 'country', 'population', 'capital'])
countryInfo2.head()

   year  country  population capital
0  2014  Austria       8.747     NaN
1  2014  Austria       8.633     NaN
2  2014  Austria       8.542     NaN
3  2015  Germany      82.670     NaN
4  2015  Germany      81.690     NaN

### Working with data sets

In [62]:
# .loc can be used to access rows by index
countryInfo2.loc[0]

year             2014
country       Austria
population      8.747
capital           NaN
Name: 0, dtype: object

In [63]:
countryInfo

            capital  population
Germany      Berlin      82.670
Austria      Vienna       8.747
Switzerland    Bern       8.372
France        Paris         NaN

In [64]:
# Selecting rows with loc
countryInfo.loc['Austria']

capital       Vienna
population     8.747
Name: Austria, dtype: object

In [65]:
# Selecting rows by position with iloc
countryInfo.iloc[2]

capital        Bern
population    8.372
Name: Switzerland, dtype: object

In [66]:
# Two ways of selecting a column:

# dict-like notation
countryInfo2['population']

# by attribute (in IPython, you even get tab completion; only works if column name is a valid Python var name):
countryInfo.population

Germany        82.670
Austria         8.747
Switzerland     8.372
France            NaN
Name: population, dtype: float64

In [67]:
countryInfo2[['capital','population']]

  capital  population
0     NaN       8.747
1     NaN       8.633
2     NaN       8.542
3     NaN      82.670
4     NaN      81.690
5     NaN      80.980
6     NaN       8.372
7     NaN       8.284
8     NaN       8.189

In [68]:
countryInfo2

   year      country  population capital
0  2014      Austria       8.747     NaN
1  2014      Austria       8.633     NaN
2  2014      Austria       8.542     NaN
3  2015      Germany      82.670     NaN
4  2015      Germany      81.690     NaN
5  2015      Germany      80.980     NaN
6  2016  Switzerland       8.372     NaN
7  2016  Switzerland       8.284     NaN
8  2016  Switzerland       8.189     NaN

In [69]:
# Columns can be modified by assignment
countryInfo2['capital'] = "Vienna"
countryInfo2

   year      country  population capital
0  2014      Austria       8.747  Vienna
1  2014      Austria       8.633  Vienna
2  2014      Austria       8.542  Vienna
3  2015      Germany      82.670  Vienna
4  2015      Germany      81.690  Vienna
5  2015      Germany      80.980  Vienna
6  2016  Switzerland       8.372  Vienna
7  2016  Switzerland       8.284  Vienna
8  2016  Switzerland       8.189  Vienna

In [70]:
# To change a value, we can use at (which is fairly expensive)
countryInfo2.at[3:5,'capital'] = 'Berlin'
countryInfo2.at[6:8,'capital'] = 'Bern'
countryInfo2

   year      country  population capital
0  2014      Austria       8.747  Vienna
1  2014      Austria       8.633  Vienna
2  2014      Austria       8.542  Vienna
3  2015      Germany      82.670  Berlin
4  2015      Germany      81.690  Berlin
5  2015      Germany      80.980  Berlin
6  2016  Switzerland       8.372    Bern
7  2016  Switzerland       8.284    Bern
8  2016  Switzerland       8.189    Bern

In [71]:
# Rearrange columns
countryInfo2 = countryInfo2[['country','capital','year','population']]
countryInfo2

       country capital  year  population
0      Austria  Vienna  2014       8.747
1      Austria  Vienna  2014       8.633
2      Austria  Vienna  2014       8.542
3      Germany  Berlin  2015      82.670
4      Germany  Berlin  2015      81.690
5      Germany  Berlin  2015      80.980
6  Switzerland    Bern  2016       8.372
7  Switzerland    Bern  2016       8.284
8  Switzerland    Bern  2016       8.189

In [72]:
# Descriptive statistics
countryInfo.describe()

       population
count    3.000000
mean    33.263000
std     42.788128
min      8.372000
25%      8.559500
50%      8.747000
75%     45.708500
max     82.670000

In [73]:
# Convert back to an ndarray
countryInfo2.values

array([['Austria', 'Vienna', 2014, 8.747],
       ['Austria', 'Vienna', 2014, 8.633],
       ['Austria', 'Vienna', 2014, 8.542],
       ['Germany', 'Berlin', 2015, 82.67],
       ['Germany', 'Berlin', 2015, 81.69],
       ['Germany', 'Berlin', 2015, 80.98],
       ['Switzerland', 'Bern', 2016, 8.372],
       ['Switzerland', 'Bern', 2016, 8.284],
       ['Switzerland', 'Bern', 2016, 8.189]], dtype=object)

**Note** that the the dtype of the values array will be chosen to accommodate all of the columns

## Index Objects

- responsible for holding the axis labels and other metadata (like the axis name or names)
- Any array or other sequence of labels you use when constructing a Series or DataFrame is internally converted to an Index

In [74]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

Remember that indexes are immutable...

In [55]:
index[1] = 'd'  # TypeError

TypeError: Index does not support mutable operations

Unlike Python sets, a pandas Index can contain duplicate labels:

In [75]:
countryInfo2.set_index('country', inplace=True)
countryInfo2

            capital  year  population
country
Austria      Vienna  2014       8.747
Austria      Vienna  2014       8.633
Austria      Vienna  2014       8.542
Germany      Berlin  2015      82.670
Germany      Berlin  2015      81.690
Germany      Berlin  2015      80.980
Switzerland    Bern  2016       8.372
Switzerland    Bern  2016       8.284
Switzerland    Bern  2016       8.189

**Note** *inplace=True* means that the DataFrame should be modified in place, rather than creating a new object. We will use that frequently

In addition to being array-like, an Index also behaves like a fixed-size set:

In [76]:
'population' in countryInfo2.columns

True

In [77]:
'Austria' in countryInfo2.index

True